html {
    background-color: black;
}

.message {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-container{
    display: flex;
    /* background-color: bisque; */
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
}
.counts{
    color: white;
    border: 3px solid aquamarine;
    font-family: 'Kalam', cursive;
    font-size: xx-large;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

@media screen and (max-width: 500px) {
    html{
        background-color: red;
    }
    .message, .jan{font-size: xx-small;}
    .counts{
        margin: 1rem;
        padding: 2rem;
        font-size: medium;
        border: 3px inset slateblue;
    }
    #seconds {
        margin-right: 0%;
    }
}

@media screen and (orientation:landscape){
    html{
        background-color: indigo;
    }
    .message, .jan{font-size: xx-large;}
    .counts{
        margin: 2rem;
        padding: 3rem;
        font-size: x-large;
        border: 3px inset slateblue;
    }
}